@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#header{
  margin: 0;
  padding-left: 0;
  text-align: center;
}
#headercont{
  background-color: #264653;
  color: white;
  position: relative;
	padding-top: 3em;
	padding-bottom: 3em;
}
#header .h1{
  font-size: 3em;
	font-weight: 900;
	line-height: 1.2;
}

/* fonts */
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

body, input, select, textarea {
		color: #585858;
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-size: 12pt;
		font-weight: 400;
		line-height: 1;
	}
h1 {
		font-size: 1.2em;
		font-weight: 600;
		line-height: 1.2;
}

/* GRID */
.main {
  width: 100%;
}
.tiles {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		position: relative;
		margin: 0;
	}
	
.tiles article {
			-moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
			-webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
			-ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
			transition: transform 0.5s ease, opacity 0.5s ease;
			position: relative;
			width: calc(33.33%);
			text-align: center;
}
		
.tiles article > .image {
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				position: relative;
				display: block;
				width: 100%;
				overflow: hidden;
				text-align: center;
}

.tiles article > .image img {
				display: block;
				width: 100%;
}

.tiles article > .image:before {
					pointer-events: none;
					-moz-transition: background-color 0.5s ease, opacity 0.5s ease;
					-webkit-transition: background-color 0.5s ease, opacity 0.5s ease;
					-ms-transition: background-color 0.5s ease, opacity 0.5s ease;
					transition: background-color 0.5s ease, opacity 0.5s ease;
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					opacity: 1.0;
					z-index: 1;
					opacity: 0.8;
}

.tiles article > .image:after {
					pointer-events: none;
					-moz-transition: opacity 0.5s ease;
					-webkit-transition: opacity 0.5s ease;
					-ms-transition: opacity 0.5s ease;
					transition: opacity 0.5s ease;
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-position: center;
					background-repeat: no-repeat;
					background-size: 100% 100%;
					opacity: 0.25;
					z-index: 2;
}
.square {
  		width: 100%;
}
.square:after {
  		content: "";
		  display: block;
  		padding-bottom: 75%;
}

.tiles article > a {
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
				-moz-align-items: center;
				-webkit-align-items: center;
				-ms-align-items: center;
				align-items: center;
				-moz-justify-content: center;
				-webkit-justify-content: center;
				-ms-justify-content: center;
				justify-content: center;
				-moz-transition: background-color 0.5s ease, -moz-transform 0.5s ease;
				-webkit-transition: background-color 0.5s ease, -webkit-transform 0.5s ease;
				-ms-transition: background-color 0.5s ease, -ms-transform 0.5s ease;
				transition: background-color 0.5s ease, transform 0.5s ease;
				position: absolute;
				top: 0;
				left: 0;
				width: 70%;
				height: 90%;
				text-align: center;
				border-radius: 4px;
				color: #ffffff;
				text-decoration: none;
				z-index: 3;
}



.tiles article > a > :last-child {
					margin: 0;
}
.tiles article > a:hover {
					color: #ffffff !important;
}

.tiles article > a .content {
					-moz-transition: max-height 0.5s ease, opacity 0.5s ease;
					-webkit-transition: max-height 0.5s ease, opacity 0.5s ease;
					-ms-transition: max-height 0.5s ease, opacity 0.5s ease;
					transition: max-height 0.5s ease, opacity 0.5s ease;
					width: 100%;
					max-height: 0;
					line-height: 1.5;
					margin-top: 0.35em;
					font-size: .8em;
					opacity: 0;
}

.tiles article > a .content > :last-child {
						margin-bottom: 0;
}


/* TILE SPEC */

.tiles article.style1 > .image{
  clip-path: url(#topleft);
}
.tiles article.style2 > .image {
  clip-path: url(#topmiddle);
}
.tiles article.style3 > .image {
  clip-path: url(#topright);
}
.tiles article.style4 > .image {
  clip-path: url(#bottomleft);
}
.tiles article.style5 > .image {
  clip-path: url(#bottommiddle);
}
.tiles article.style6 > .image {
  clip-path: url(#bottomright);
}

.tiles article.style6 > .image:before {
				background-color: #e76f51;
}
.tiles article.style4 > .image:before {
				background-color: #f4a261;
}
.tiles article.style2 > .image:before {
				background-color: #e9c46a;
}
.tiles article.style3 > .image:before {
				background-color: #8ab17d;
}
.tiles article.style5 > .image:before {
				background-color: #2a9d8f;
}
.tiles article.style1 > .image:before {
				background-color: #287271;
}




/* HOVER */


body:not(.is-touch) .tiles article:hover > a {
				-moz-transform: scale(1.1);
				-webkit-transform: scale(1.1);
				-ms-transform: scale(1.1);
				transform: scale(1.1);
				z-index: 4;
}

body:not(.is-touch) .tiles article:hover > .image {
				-moz-transform: scale(1.1);
				-webkit-transform: scale(1.1);
				-ms-transform: scale(1.1);
				transform: scale(1.1);
				z-index: 4;
}
body:not(.is-touch) .tiles article:hover > .image:before {
					filter: brightness(70%);
					z-index: 4;
}

body:not(.is-touch) .tiles article:hover > .image:after {
					opacity: 0;
					z-index: 4;
}

body:not(.is-touch) .tiles article:hover .content {
				max-height: 15em;
				opacity: 1;
				z-index: 4;
}


/* MODAL BOX */

.popup .overlay {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.7);
    z-index:5;
    display:none;
}

.popup .content {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-70%,-70%) scale(0);
    background:#fff;
    width:75%;
    height: 80%;
    z-index:6;
    text-align: left;
    padding: 5em;
    box-sizing:border-box;
    overflow-y: scroll;
}
.popup .content h1{
  margin-bottom: 2em;
}
.popup .content p{
  margin-bottom: 1em;
}


.popup .close-btn{
    cursor:pointer;
    position:absolute;
    right: 20px;
    top:20px;
    width:30px;
    height:30px;
    color: #B2BEB5;
    font-size:25px;
    font-weight:600;
    line-weight:30px;
    text-align: center;
    
}

.popup.active .overlay{
    display:block;
}

.popup.active .content{
    transition:all 300ms ease-in-out;
    transform:translate(-50%,-50%) scale(1);
}

/* COLLAPSIBLES */

/* Style the button that is used to open and close the collapsible content */
.collapsible, .collapsible2, .collapsible3, .collapsible4, .collapsible5, .collapsible6 {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: .5em;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  margin-bottom: .5em;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}
.active, .collapsible2:hover {
  background-color: #ccc;
}
.active, .collapsible3:hover {
  background-color: #ccc;
}
.active, .collapsible4:hover {
  background-color: #ccc;
}
.active, .collapsible5:hover {
  background-color: #ccc;
}
.active, .collapsible6:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.ccontent {
  padding: .5em;
  display: none;
  overflow: hidden;
  background-color: #ffffff;
}
.ccontent > p {
  margin-bottom: .5em !important;
}


@media screen and (max-width: 5000px) {
  #headercont{
	  margin: 0 8em 0 8em;
  }
  .tiles{
    padding-left: 8em;
  }
  .tiles article > a {
    margin-left: 4em;
  }
  .tiles article.style2 {
    left: -4em;
  }
  .tiles article.style3 {
    left: -8em;
  }
  .tiles article.style4 {
    top: -4em;
  }
  .tiles article.style5 {
    top: -4em;
    left: -4em;
  }
  .tiles article.style6 {
    top: -4em;
    left: -8em;
  }
}
@media screen and (max-width: 1500px) {
  #headercont{
	  margin: 0 6em 0 6em;
  }
  .tiles{
    padding-left: 6em;
  }
  .tiles article > a {
    margin-left: 3em;
  }
  .tiles article.style2 {
    left: -3em;
  }
  .tiles article.style3 {
    left: -6em;
  }
  .tiles article.style4 {
    top: -3em;
  }
  .tiles article.style5 {
    top: -3em;
    left: -3em;
  }
  .tiles article.style6 {
    top: -3em;
    left: -6em;
  }
}
@media screen and (max-width: 1000px) {
  #headercont{
	  margin: 0 5em 0 5em;
  }
  .tiles{
    padding-left: 5em;
  }
  .tiles article > a {
    margin-left: 2em;
  }
  .tiles article.style2 {
    left: -2.5em;
  }
  .tiles article.style3 {
    left: -5em;
  }
  .tiles article.style4 {
    top: -2.5em;
  }
  .tiles article.style5 {
    top: -2.5em;
    left: -2.5em;
  }
  .tiles article.style6 {
    top: -2.5em;
    left: -5em;
  }
}
@media screen and (max-width: 1200px) {
  body, input, select, textarea{
		font-size: 11pt;
  }
}
@media screen and (max-width: 900px) {
  body, input, select, textarea{
		font-size: 10pt;
  }
}
@media screen and (max-width: 600px) {
  #headercont{
	  margin: 0 1em 0 1em;
  }
  .tiles article.style1 > .image, .tiles article.style2 > .image, .tiles article.style3 > .image, .tiles article.style4 > .image, .tiles article.style5 > .image, .tiles article.style6 > .image{
    clip-path: none !important;
  }
  .tiles{
    padding: 0 1em 0 1em;
  }
  .tiles article > a{
    margin-left: .5em;
    margin-right: .5em;
    width: 90%;
  }
  .tiles article.style2, .tiles article.style3, .tiles article.style4,.tiles article.style5, .tiles article.style6{
    left: 0;
    top: 0;
  }
  .tiles article {
    width: calc(50%) !important;
  }
  .popup .content {
    padding: 2em;
  }

}
